[Unit]
Description=mini_CPC flask server

[Service]
User=pi
WorkingDirectory=/home/pi/mini-cpc/
Environment="Flask_APP=flask_app"
ExecStart=/home/pi/mini-cpc/venv/bin/python -m flask run
Restart=always

[Install]
WantedBy=multi-user.target
